USE [HIV111]
GO
/****** Object:  Table [dbo].[Appointment]    Script Date: 8/2/2025 9:21:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Appointment](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[doctor_id] [int] NULL,
	[service_id] [int] NOT NULL,
	[schedule_id] [int] NULL,
	[scheduled_at] [datetime] NOT NULL,
	[status] [nvarchar](50) NULL,
	[symptoms] [nvarchar](max) NULL,
	[medical_history] [nvarchar](max) NULL,
	[notes] [nvarchar](max) NULL,
	[cancellation_reason] [nvarchar](max) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[blood_pressure] [nvarchar](50) NULL,
	[blood_sample_requested] [bit] NOT NULL,
	[is_online] [bit] NOT NULL,
	[is_anonymous] [bit] NOT NULL,
	[channel_name] [nvarchar](255) NULL,
	[channel_token] [nvarchar](max) NULL,
	[payment_method] [nvarchar](50) NOT NULL,
	[paid_at] [datetime] NULL,
	[is_paid] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Doctor]    Script Date: 8/2/2025 9:21:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Doctor](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[specialty] [nvarchar](100) NULL,
	[degree] [nvarchar](100) NULL,
	[bio] [nvarchar](max) NULL,
	[experience_years] [int] NULL,
	[consultation_fee] [decimal](10, 2) NULL,
	[max_patients_per_day] [int] NULL,
	[is_active] [bit] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LabRequest]    Script Date: 8/2/2025 9:21:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LabRequest](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[appointment_id] [int] NOT NULL,
	[doctor_id] [int] NOT NULL,
	[staff_id] [int] NULL,
	[requested_at] [datetime] NOT NULL,
	[status] [nvarchar](50) NOT NULL,
	[notes] [nvarchar](max) NULL,
	[completed_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LabResult]    Script Date: 8/2/2025 9:21:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LabResult](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[test_type] [nvarchar](50) NOT NULL,
	[result] [nvarchar](100) NOT NULL,
	[reference_range] [nvarchar](100) NULL,
	[unit] [nvarchar](20) NULL,
	[test_date] [date] NOT NULL,
	[notes] [nvarchar](max) NULL,
	[doctor_approval_id] [int] NULL,
	[approval_status] [nvarchar](20) NULL,
	[approval_date] [datetime] NULL,
	[approval_notes] [nvarchar](max) NULL,
	[created_at] [datetime] NULL,
	[appointment_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Medication]    Script Date: 8/2/2025 9:21:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medication](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[description] [nvarchar](max) NULL,
	[category] [nvarchar](50) NULL,
	[dosage_form] [nvarchar](50) NULL,
	[strength] [nvarchar](50) NULL,
	[manufacturer] [nvarchar](100) NULL,
	[side_effects] [nvarchar](max) NULL,
	[contraindications] [nvarchar](max) NULL,
	[is_active] [bit] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MedicationSchedule]    Script Date: 8/2/2025 9:21:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MedicationSchedule](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[treatment_plan_medication_id] [int] NOT NULL,
	[time_of_day] [time](7) NOT NULL,
	[dosage_amount] [nvarchar](50) NOT NULL,
	[notes] [nvarchar](max) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[days_of_week] [nvarchar](50) NULL,
	[reminder_enabled] [bit] NULL,
	[reminder_minutes_before] [int] NULL,
	[is_taken] [bit] NULL,
	[last_taken_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notification]    Script Date: 8/2/2025 9:21:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notification](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[title] [nvarchar](255) NOT NULL,
	[message] [nvarchar](max) NOT NULL,
	[type] [nvarchar](50) NOT NULL,
	[reference_id] [int] NULL,
	[reference_type] [nvarchar](50) NULL,
	[is_read] [bit] NULL,
	[priority] [nvarchar](20) NULL,
	[expires_at] [datetime] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentTransaction]    Script Date: 8/2/2025 9:21:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentTransaction](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[appointment_id] [int] NOT NULL,
	[amount] [decimal](18, 2) NOT NULL,
	[payment_method] [nvarchar](50) NOT NULL,
	[transaction_status] [nvarchar](50) NOT NULL,
	[transaction_time] [datetime] NULL,
	[provider_transaction_id] [nvarchar](100) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Schedule]    Script Date: 8/2/2025 9:21:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Schedule](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[doctor_id] [int] NOT NULL,
	[date] [date] NOT NULL,
	[start_time] [time](7) NOT NULL,
	[end_time] [time](7) NOT NULL,
	[is_available] [bit] NULL,
	[schedule_type] [nvarchar](100) NULL,
	[slot_duration_minutes] [int] NULL,
	[notes] [nvarchar](max) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Schedule_Doctor_DateTime] UNIQUE NONCLUSTERED 
(
	[doctor_id] ASC,
	[date] ASC,
	[start_time] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Service]    Script Date: 8/2/2025 9:21:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Service](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[description] [nvarchar](max) NULL,
	[duration_minutes] [int] NOT NULL,
	[base_price] [decimal](10, 2) NULL,
	[is_active] [bit] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TreatmentPlan]    Script Date: 8/2/2025 9:21:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TreatmentPlan](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[appointment_id] [int] NOT NULL,
	[description] [nvarchar](max) NOT NULL,
	[start_date] [date] NOT NULL,
	[end_date] [date] NULL,
	[status] [nvarchar](50) NULL,
	[medication_notes] [nvarchar](max) NULL,
	[side_effects] [nvarchar](max) NULL,
	[next_appointment_date] [date] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[health_status] [nvarchar](20) NULL,
	[health_notes] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TreatmentPlanMedication]    Script Date: 8/2/2025 9:21:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TreatmentPlanMedication](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[treatment_plan_id] [int] NOT NULL,
	[medication_id] [int] NOT NULL,
	[dosage] [nvarchar](100) NOT NULL,
	[frequency] [nvarchar](50) NOT NULL,
	[instructions] [nvarchar](max) NULL,
	[start_date] [date] NOT NULL,
	[end_date] [date] NULL,
	[prescribed_by] [nvarchar](100) NULL,
	[status] [nvarchar](20) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 8/2/2025 9:21:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[email] [nvarchar](255) NOT NULL,
	[password] [nvarchar](255) NOT NULL,
	[role] [nvarchar](50) NULL,
	[phone] [nvarchar](20) NOT NULL,
	[birthdate] [date] NULL,
	[address] [nvarchar](255) NULL,
	[gender] [nvarchar](10) NOT NULL,
	[avatar_url] [nvarchar](255) NULL,
	[status] [nvarchar](20) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[otp_code] [nvarchar](6) NULL,
	[otp_expires_at] [datetime] NULL,
	[is_email_verified] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Appointment] ADD  CONSTRAINT [DF_Appointment_Status]  DEFAULT (N'CONFIRMED') FOR [status]
GO
ALTER TABLE [dbo].[Appointment] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Appointment] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[Appointment] ADD  DEFAULT ((0)) FOR [blood_sample_requested]
GO
ALTER TABLE [dbo].[Appointment] ADD  DEFAULT ((0)) FOR [is_online]
GO
ALTER TABLE [dbo].[Appointment] ADD  DEFAULT ((0)) FOR [is_anonymous]
GO
ALTER TABLE [dbo].[Appointment] ADD  DEFAULT ((0)) FOR [is_paid]
GO
ALTER TABLE [dbo].[Doctor] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[Doctor] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[LabRequest] ADD  DEFAULT (getdate()) FOR [requested_at]
GO
ALTER TABLE [dbo].[LabRequest] ADD  DEFAULT (N'PENDING') FOR [status]
GO
ALTER TABLE [dbo].[LabResult] ADD  DEFAULT (N'PENDING') FOR [approval_status]
GO
ALTER TABLE [dbo].[LabResult] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Medication] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[Medication] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Medication] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[MedicationSchedule] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[MedicationSchedule] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[MedicationSchedule] ADD  DEFAULT ((1)) FOR [reminder_enabled]
GO
ALTER TABLE [dbo].[MedicationSchedule] ADD  DEFAULT ((15)) FOR [reminder_minutes_before]
GO
ALTER TABLE [dbo].[MedicationSchedule] ADD  DEFAULT ((0)) FOR [is_taken]
GO
ALTER TABLE [dbo].[Notification] ADD  DEFAULT ((0)) FOR [is_read]
GO
ALTER TABLE [dbo].[Notification] ADD  DEFAULT (N'NORMAL') FOR [priority]
GO
ALTER TABLE [dbo].[Notification] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[PaymentTransaction] ADD  DEFAULT (getdate()) FOR [transaction_time]
GO
ALTER TABLE [dbo].[PaymentTransaction] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[PaymentTransaction] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[Schedule] ADD  DEFAULT ((1)) FOR [is_available]
GO
ALTER TABLE [dbo].[Schedule] ADD  DEFAULT (N'REGULAR') FOR [schedule_type]
GO
ALTER TABLE [dbo].[Schedule] ADD  DEFAULT ((30)) FOR [slot_duration_minutes]
GO
ALTER TABLE [dbo].[Schedule] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Service] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[Service] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[TreatmentPlan] ADD  DEFAULT (N'ACTIVE') FOR [status]
GO
ALTER TABLE [dbo].[TreatmentPlan] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[TreatmentPlan] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[TreatmentPlanMedication] ADD  DEFAULT (N'ACTIVE') FOR [status]
GO
ALTER TABLE [dbo].[TreatmentPlanMedication] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[TreatmentPlanMedication] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT (N'CUSTOMER') FOR [role]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT (N'ACTIVE') FOR [status]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT ((0)) FOR [is_email_verified]
GO
ALTER TABLE [dbo].[Appointment]  WITH CHECK ADD  CONSTRAINT [FK_Appointment_Doctor] FOREIGN KEY([doctor_id])
REFERENCES [dbo].[Doctor] ([id])
GO
ALTER TABLE [dbo].[Appointment] CHECK CONSTRAINT [FK_Appointment_Doctor]
GO
ALTER TABLE [dbo].[Appointment]  WITH CHECK ADD  CONSTRAINT [FK_Appointment_Schedule] FOREIGN KEY([schedule_id])
REFERENCES [dbo].[Schedule] ([id])
GO
ALTER TABLE [dbo].[Appointment] CHECK CONSTRAINT [FK_Appointment_Schedule]
GO
ALTER TABLE [dbo].[Appointment]  WITH CHECK ADD  CONSTRAINT [FK_Appointment_Service] FOREIGN KEY([service_id])
REFERENCES [dbo].[Service] ([id])
GO
ALTER TABLE [dbo].[Appointment] CHECK CONSTRAINT [FK_Appointment_Service]
GO
ALTER TABLE [dbo].[Appointment]  WITH CHECK ADD  CONSTRAINT [FK_Appointment_User] FOREIGN KEY([user_id])
REFERENCES [dbo].[User] ([id])
GO
ALTER TABLE [dbo].[Appointment] CHECK CONSTRAINT [FK_Appointment_User]
GO
ALTER TABLE [dbo].[Doctor]  WITH CHECK ADD  CONSTRAINT [FK_Doctor_User] FOREIGN KEY([user_id])
REFERENCES [dbo].[User] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Doctor] CHECK CONSTRAINT [FK_Doctor_User]
GO
ALTER TABLE [dbo].[LabRequest]  WITH CHECK ADD  CONSTRAINT [FK_LabRequest_Appointment] FOREIGN KEY([appointment_id])
REFERENCES [dbo].[Appointment] ([id])
GO
ALTER TABLE [dbo].[LabRequest] CHECK CONSTRAINT [FK_LabRequest_Appointment]
GO
ALTER TABLE [dbo].[LabRequest]  WITH CHECK ADD  CONSTRAINT [FK_LabRequest_Doctor] FOREIGN KEY([doctor_id])
REFERENCES [dbo].[Doctor] ([id])
GO
ALTER TABLE [dbo].[LabRequest] CHECK CONSTRAINT [FK_LabRequest_Doctor]
GO
ALTER TABLE [dbo].[LabRequest]  WITH CHECK ADD  CONSTRAINT [FK_LabRequest_User] FOREIGN KEY([staff_id])
REFERENCES [dbo].[User] ([id])
GO
ALTER TABLE [dbo].[LabRequest] CHECK CONSTRAINT [FK_LabRequest_User]
GO
ALTER TABLE [dbo].[LabResult]  WITH CHECK ADD  CONSTRAINT [FK_LabResult_Appointment] FOREIGN KEY([appointment_id])
REFERENCES [dbo].[Appointment] ([id])
GO
ALTER TABLE [dbo].[LabResult] CHECK CONSTRAINT [FK_LabResult_Appointment]
GO
ALTER TABLE [dbo].[LabResult]  WITH CHECK ADD  CONSTRAINT [FK_LabResult_Doctor] FOREIGN KEY([doctor_approval_id])
REFERENCES [dbo].[Doctor] ([id])
GO
ALTER TABLE [dbo].[LabResult] CHECK CONSTRAINT [FK_LabResult_Doctor]
GO
ALTER TABLE [dbo].[LabResult]  WITH CHECK ADD  CONSTRAINT [FK_LabResult_User] FOREIGN KEY([user_id])
REFERENCES [dbo].[User] ([id])
GO
ALTER TABLE [dbo].[LabResult] CHECK CONSTRAINT [FK_LabResult_User]
GO
ALTER TABLE [dbo].[MedicationSchedule]  WITH CHECK ADD  CONSTRAINT [FK_MedicationSchedule_TreatmentPlanMedication] FOREIGN KEY([treatment_plan_medication_id])
REFERENCES [dbo].[TreatmentPlanMedication] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MedicationSchedule] CHECK CONSTRAINT [FK_MedicationSchedule_TreatmentPlanMedication]
GO
ALTER TABLE [dbo].[Notification]  WITH CHECK ADD  CONSTRAINT [FK_Notification_User] FOREIGN KEY([user_id])
REFERENCES [dbo].[User] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Notification] CHECK CONSTRAINT [FK_Notification_User]
GO
ALTER TABLE [dbo].[PaymentTransaction]  WITH CHECK ADD  CONSTRAINT [FK_PaymentTransaction_Appointment] FOREIGN KEY([appointment_id])
REFERENCES [dbo].[Appointment] ([id])
GO
ALTER TABLE [dbo].[PaymentTransaction] CHECK CONSTRAINT [FK_PaymentTransaction_Appointment]
GO
ALTER TABLE [dbo].[PaymentTransaction]  WITH CHECK ADD  CONSTRAINT [FK_PaymentTransaction_User] FOREIGN KEY([user_id])
REFERENCES [dbo].[User] ([id])
GO
ALTER TABLE [dbo].[PaymentTransaction] CHECK CONSTRAINT [FK_PaymentTransaction_User]
GO
ALTER TABLE [dbo].[Schedule]  WITH CHECK ADD  CONSTRAINT [FK_Schedule_Doctor] FOREIGN KEY([doctor_id])
REFERENCES [dbo].[Doctor] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Schedule] CHECK CONSTRAINT [FK_Schedule_Doctor]
GO
ALTER TABLE [dbo].[TreatmentPlan]  WITH CHECK ADD  CONSTRAINT [FK_TreatmentPlan_Appointment] FOREIGN KEY([appointment_id])
REFERENCES [dbo].[Appointment] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TreatmentPlan] CHECK CONSTRAINT [FK_TreatmentPlan_Appointment]
GO
ALTER TABLE [dbo].[TreatmentPlanMedication]  WITH CHECK ADD  CONSTRAINT [FK_TreatmentPlanMedication_Medication] FOREIGN KEY([medication_id])
REFERENCES [dbo].[Medication] ([id])
GO
ALTER TABLE [dbo].[TreatmentPlanMedication] CHECK CONSTRAINT [FK_TreatmentPlanMedication_Medication]
GO
ALTER TABLE [dbo].[TreatmentPlanMedication]  WITH CHECK ADD  CONSTRAINT [FK_TreatmentPlanMedication_TreatmentPlan] FOREIGN KEY([treatment_plan_id])
REFERENCES [dbo].[TreatmentPlan] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TreatmentPlanMedication] CHECK CONSTRAINT [FK_TreatmentPlanMedication_TreatmentPlan]
GO
ALTER TABLE [dbo].[Appointment]  WITH CHECK ADD  CONSTRAINT [CK_Appointment_PaymentMethod] CHECK  (([payment_method]='QR' OR [payment_method]='CASH'))
GO
ALTER TABLE [dbo].[Appointment] CHECK CONSTRAINT [CK_Appointment_PaymentMethod]
GO
ALTER TABLE [dbo].[Appointment]  WITH CHECK ADD  CONSTRAINT [CK_Appointment_ScheduledAt] CHECK  (([scheduled_at]>=getdate()))
GO
ALTER TABLE [dbo].[Appointment] CHECK CONSTRAINT [CK_Appointment_ScheduledAt]
GO
ALTER TABLE [dbo].[Appointment]  WITH CHECK ADD  CONSTRAINT [CK_Appointment_Status] CHECK  (([status]=N'UNDER_REVIEW' OR [status]=N'CHECKED_IN' OR [status]=N'NO_SHOW' OR [status]=N'CANCELLED' OR [status]=N'COMPLETED' OR [status]=N'CONFIRMED'))
GO
ALTER TABLE [dbo].[Appointment] CHECK CONSTRAINT [CK_Appointment_Status]
GO
ALTER TABLE [dbo].[Doctor]  WITH CHECK ADD CHECK  (([consultation_fee]>=(0)))
GO
ALTER TABLE [dbo].[Doctor]  WITH CHECK ADD CHECK  (([experience_years]>=(0) AND [experience_years]<=(50)))
GO
ALTER TABLE [dbo].[Doctor]  WITH CHECK ADD CHECK  (([max_patients_per_day]>(0) AND [max_patients_per_day]<=(50)))
GO
ALTER TABLE [dbo].[LabResult]  WITH CHECK ADD CHECK  (([test_type]=N'OTHER' OR [test_type]=N'KIDNEY_FUNCTION' OR [test_type]=N'LIVER_FUNCTION' OR [test_type]=N'BLOOD_COUNT' OR [test_type]=N'HIV_TEST' OR [test_type]=N'VIRAL_LOAD' OR [test_type]=N'CD4'))
GO
ALTER TABLE [dbo].[LabResult]  WITH CHECK ADD CHECK  (([test_date]<=getdate()))
GO
ALTER TABLE [dbo].[LabResult]  WITH CHECK ADD  CONSTRAINT [CK_LabResult_ApprovalStatus] CHECK  (([approval_status]=N'ABNORMAL' OR [approval_status]=N'CRITICAL' OR [approval_status]=N'NORMAL' OR [approval_status]=N'REJECTED' OR [approval_status]=N'APPROVED' OR [approval_status]=N'PENDING'))
GO
ALTER TABLE [dbo].[LabResult] CHECK CONSTRAINT [CK_LabResult_ApprovalStatus]
GO
ALTER TABLE [dbo].[Medication]  WITH CHECK ADD CHECK  (([category]=N'OTHER' OR [category]=N'SUPPLEMENT' OR [category]=N'ANALGESIC' OR [category]=N'ANTIFUNGAL' OR [category]=N'ANTIBIOTIC' OR [category]=N'ANTIRETROVIRAL'))
GO
ALTER TABLE [dbo].[Medication]  WITH CHECK ADD CHECK  (([dosage_form]=N'OTHER' OR [dosage_form]=N'TOPICAL' OR [dosage_form]=N'INJECTION' OR [dosage_form]=N'LIQUID' OR [dosage_form]=N'CAPSULE' OR [dosage_form]=N'TABLET'))
GO
ALTER TABLE [dbo].[Notification]  WITH CHECK ADD CHECK  (([priority]=N'URGENT' OR [priority]=N'HIGH' OR [priority]=N'NORMAL' OR [priority]=N'LOW'))
GO
ALTER TABLE [dbo].[Notification]  WITH CHECK ADD CHECK  (([type]=N'REMINDER' OR [type]=N'SYSTEM' OR [type]=N'LAB_RESULT' OR [type]=N'MEDICATION' OR [type]=N'APPOINTMENT'))
GO
ALTER TABLE [dbo].[PaymentTransaction]  WITH CHECK ADD CHECK  (([payment_method]='QR' OR [payment_method]='CASH'))
GO
ALTER TABLE [dbo].[PaymentTransaction]  WITH CHECK ADD CHECK  (([transaction_status]='FAILED' OR [transaction_status]='SUCCESS' OR [transaction_status]='PENDING'))
GO
ALTER TABLE [dbo].[Schedule]  WITH CHECK ADD CHECK  (([date]>=CONVERT([date],getdate())))
GO
ALTER TABLE [dbo].[Schedule]  WITH CHECK ADD CHECK  (([schedule_type]=N'EXCEPTION' OR [schedule_type]=N'REGULAR'))
GO
ALTER TABLE [dbo].[Schedule]  WITH CHECK ADD CHECK  (([slot_duration_minutes]=(60) OR [slot_duration_minutes]=(45) OR [slot_duration_minutes]=(30) OR [slot_duration_minutes]=(15)))
GO
ALTER TABLE [dbo].[Schedule]  WITH CHECK ADD  CONSTRAINT [CK_Schedule_Time] CHECK  (([end_time]>[start_time]))
GO
ALTER TABLE [dbo].[Schedule] CHECK CONSTRAINT [CK_Schedule_Time]
GO
ALTER TABLE [dbo].[Service]  WITH CHECK ADD CHECK  (([base_price]>=(0)))
GO
ALTER TABLE [dbo].[Service]  WITH CHECK ADD CHECK  (([duration_minutes]>(0) AND [duration_minutes]<=(480)))
GO
ALTER TABLE [dbo].[TreatmentPlan]  WITH CHECK ADD CHECK  (([health_status]=N'inactive' OR [health_status]=N'new' OR [health_status]=N'attention' OR [health_status]=N'critical' OR [health_status]=N'stable'))
GO
ALTER TABLE [dbo].[TreatmentPlan]  WITH CHECK ADD CHECK  (([status]=N'PAUSED' OR [status]=N'DISCONTINUED' OR [status]=N'COMPLETED' OR [status]=N'ACTIVE'))
GO
ALTER TABLE [dbo].[TreatmentPlan]  WITH CHECK ADD  CONSTRAINT [CK_TreatmentPlan_Dates] CHECK  (([end_date] IS NULL OR [end_date]>=[start_date]))
GO
ALTER TABLE [dbo].[TreatmentPlan] CHECK CONSTRAINT [CK_TreatmentPlan_Dates]
GO
ALTER TABLE [dbo].[TreatmentPlanMedication]  WITH CHECK ADD CHECK  (([status]=N'PAUSED' OR [status]=N'DISCONTINUED' OR [status]=N'COMPLETED' OR [status]=N'ACTIVE'))
GO
ALTER TABLE [dbo].[TreatmentPlanMedication]  WITH CHECK ADD  CONSTRAINT [CK_TreatmentPlanMedication_Dates] CHECK  (([end_date] IS NULL OR [end_date]>=[start_date]))
GO
ALTER TABLE [dbo].[TreatmentPlanMedication] CHECK CONSTRAINT [CK_TreatmentPlanMedication_Dates]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD CHECK  (([birthdate]<=getdate()))
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD CHECK  (([gender]=N'OTHER' OR [gender]=N'FEMALE' OR [gender]=N'MALE'))
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD CHECK  (([role]=N'ADMIN' OR [role]=N'MANAGER' OR [role]=N'DOCTOR' OR [role]=N'STAFF' OR [role]=N'CUSTOMER' OR [role]=N'GUEST'))
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD CHECK  (([status]=N'SUSPENDED' OR [status]=N'INACTIVE' OR [status]=N'ACTIVE'))
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [CK_User_Email_Format] CHECK  (([email] like N'%@%.%'))
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [CK_User_Email_Format]
GO
